<div class="row">
    <div class="col-md-6 offset-3 alert-success text-center">
        <h2>OrderCompletedSuccessfully</h2>
        <p>
            You can check all your orders in the Orders section of your Profile
        </p>
        <hr />
        <p>
            Thank you!
        </p>
    </div>
</div>